<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/home.css" rel="stylesheet" type="text/css" />
    <title>python trade</title>
</head>
<body>
    <header>
        <h1>CREA UNA CUENTA O INICIA SESION</h1>
    </header>
    <main>
        <div>
            <a href="/login.html">INICIA SESION</a>
            <a href="/register.html">CREAR CUENTA</a>
            <button>MIRON</button>
        </div>
    </main>
    <footer>Hector Yahir Sanchez Martinez</footer>
</body>
</html>
