<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LOGIN</h1>
    <form>
        <label>INGRESA TU CORREO</label><br/>
        <input type="text" id="input_email" name="email"/><br/>

        <label>INGRESA TU CONTRASEÑA</label><br/>
        <input type="text" id="input_password" name="password"/><br/>

        <a id="btn_login">INGRESAR</a>
    </form>

    <script src="../static/js/login.js"></script>
</body>
</html>